.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

/* Card must be responsive on mobile devices */
@media (max-width: 800px) {
    .profile-card {
        max-width: 350px;
    }
  }

.profile-card img {
    margin-bottom: 10px;
}

.title {
    color: grey;
    font-size: 18px;
    margin-top: 10px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#social-icons a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

button:hover, #social-icons a:hover {
    opacity: 0.7;
}

/* Content/Gallery section */
.content-Gallery {
    max-width: 700px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
    font-family: arial;
}

/* Content/Gallery section must be responsive on mobile devices */
@media (max-width: 800px) {
    .content-Gallery {
        max-width: 350px;
    }

    .contentText {
        max-width: 300px;
        margin: auto;
        text-align: center
    }
  }